.*properties
.*xml
.*xml
Proyecto/SCalif (Correcciones-Lista)/nbproject/private/private.properties
Proyecto/SCalif (Correcciones-Lista)/nbproject/private/private.xml
Proyecto/SCalif (Correcciones-Lista)/build
/Proyecto/SCalif_V4/build/
/Proyecto/SCalif(Revision)/build/